@model IEnumerable<Race>
@{
    ViewData["Title"] = "Race";
}

<a asp-controller="Race" asp-action="Create" class="btn btn-success my-2">Create Race</a>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card shadow-sm">
                <a asp-controller="Race" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">
                    <img class="bd-placeholder-img card-img-top" src=@item.Image width="100%" height="225" />
                </a>
                <div class="card-body">
                    <p class="card-text">@item.Title</p>
                    <p class="card-text">@item.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-controller="Race" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">View</a>
                            <a asp-controller="Race" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <button class="btn btn-sm btn-outline-secondary" onclick="openModal('delete-race-modal-@item.Id')">Delete</button>
                        </div>
                        <small class="text-body-secondary">@item.RaceCategory</small>
                    </div>
                </div>
            </div>
        </div>
        <div id="delete-race-modal-@item.Id" class="modal" tabindex="-1" role="dialog" style="display: none">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #ff7065; color: white">
                        <h5 class="modal-title">Delete Race</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                style="background-color: red" onclick="closeModal('delete-race-modal-@item.Id')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to delete this race?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" onclick="triggerClickButton('submit-delete-race-btn-@item.Id')">
                            Delete
                        </button>
                        <form hidden="true" method="POST" asp-action="Delete" asp-controller="Race" asp-route-id="@item.Id">
                            <button type="submit" id="submit-delete-race-btn-@item.Id"></button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                onclick="closeModal('delete-race-modal-@item.Id')">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/js/common.js"></script>